<article>
    <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
    <div class="time">{{ .Date.Format "Monday, January 2, 2006" }}
        &nbsp;
        &middot;
        &nbsp;
        <time>
            {{ math.Round (div (countwords .Content) 220.0) }} mins
        </time>
    </div>
    <p>
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="read-more" href="{{ .Permalink }}">Read&nbsp;more&nbsp;&rarr;</a>
        {{ end }}
    </p>

</article>