<header>
	<nav>
		<ul class="main">
			<li><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
		</ul>
		<ul class="social">
			<li><a href="https://linkedin.com/in/rstanleyhum" target="_blank"><i class="fab fa-linkedin"></i></a></li>
			<li><a href="https://github.com/rstanleyhum" target="_blank"><i class="fab fa-github"></i></a></li>
			<li><a href="https://twitter.com/rstanleyhum" target="_blank"><i class="fab fa-twitter"></i></a></li>

			{{ with .OutputFormats.Get "RSS" }}
			<li><a href="{{ .RelPermalink }}" target="_blank"><i class="fas fa-rss"></i></a></li>
			{{ end }}


			<li><a href="{{ .Site.BaseURL }}">Old Posts</a></li>
			<li><a href="{{ .Site.BaseURL }}">Posts</a></li>
			<li><a href="">About</a></li>

		</ul>
	</nav>
</header>