{% extends "base.html" %}

{% block content %}

<h1 class="title">Welcome</h1>
    
<p>My name is Stanley Hum. I am an Associate Professor of Pediatrics at McGill University. My area of expertise is Clinical Informatics and Healthcare Datascience. I recently moved to Montreal in January 2020. Before that I worked as a pediatric critical care physician and Associate Professor of Pediatrics at Columbia University (from 2007-2019). Now I practice inpatient pediatrics. I have a Bachelors of Applied Science (Engineering Science) from University of Toronto and a Master of Arts in Biomedical Informatics from Columbia University. I am available for consulting in healthcare data analytics. In my free time, I enjoy playing tennis, going to restaurants, scifi TV and movies as well as tinkering with my computers.</p>

<p>The opinions expressed on this website are my own and do not necessarily reflect the views of McGill University, the Department of Pediatrics or the Division of General Pediatrics.</p>

{% endblock content %}
